<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>抖音下载页面</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/justified-nav.css" rel="stylesheet">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/ajax.js"></script>

</head>
<body>


    <div class="masthead">
        <h3 class="text-center">抖音&TikTok视频下载</h3>
        <nav>
          <ul class="nav nav-justified">
            <li><a href="/">主页</a></li>
            <li class="active"><a href="/douyin">抖音视频下载</a></li>
            <li><a href="/tiktok">TikTok视频下载</a></li>
            <li><a href='/about'>关于我们</a></li>
            <li><a href="/contact">联系我们</a></li>
          </ul>
        </nav>
    </div>

    <!--从后端获取的数据显示-->
    <div class="row">
        <div class="col-md-4">

        </div>

        <div class="col-md-4 center">
            <input class="form-control" id="douyin-user-id" type="text" placeholder="请输入账号"/>
        </div>

        <div class="col-md-4 center">
            <button id="douyin-button" class="btn btn-primary" >搜索>></button>
            <button id="download-button"class="btn btn-primary">一键下载</button>
        </div>
    </div>

    <ul class="nav nav-justified">
        <li><h3>作者id: </h3></li>
        <li><p id="response-user-id"></p></li>
        <li><h3>作者昵称：</h3></li>
        <li><p id="nickname"></p></li>
        <li><h3>作者简介：</h3></li>
        <li><p id="user-desc"></p></li>
        <li><h3>作品数量：</h3></li>
        <li><p id="user-num"></p></li>
    </ul>
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>序号</th>
                <th>视频链接</th>
            </tr>
        </thead>
        <tbody id="list-body">

        </tbody>
    </table>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</body>
</html>